---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const cards = [
  {
    href: "/1-elementos-de-probabilidad/",
    title: "1.- Elementos de probabilidad",
    body: "Resuelve problemas que involucren fenómenos aleatorios con base en los fundamentos de la probabilidad.",
  },
  {
    href: "/2-distribucion-de-variables-aleatorias/",
    title: "2.- Distribución de variables aleatorias",
    body: "Obtiene el valor esperado y la varianza de situaciones propuestas a partir de variables aleatorias discretas y continuas.",
  },
  {
    href: "/3-distribuciones-de-variables-discretas-y-continuas/",
    title:
      "3.- Distribuciones de probabilidad para variables discretas y continuas",
    body: "Soluciona problemáticas con base en las distribuciones probabilísticas más conocidas..",
  },
  {
    href: "https://astro.build/chat/",
    title: "4.- Distribución de varias variables aleatorias",
    body: "Resuelve problemas de eventos probabilísticos a partir de distribuciones de varias variables.",
  },
  {
    href: "https://astro.build/chat/",
    title:
      "5.- Estadística paramétrica usando estimación y prueba de hipótesis",
    body: "Toma decisiones con base en la teoría de la estadística inferencial.",
  },
];
---

<Layout title="Portafolio de tareas - Campos Zeron Salvador">
  <main class="mx-auto my-[50px]">
    <h1 class="mb-6 text-5xl text-center">
      Portafolio de<span class="text-gradient"> evidencias</span>
    </h1>
    <p class="instructions text-balance text-center">
      <strong>¡Hola!</strong> Este es mi portafolio de evidencias, aquí podrás encontrar
      las tareas que he realizado durante el curso de
      <strong>Probabilidad y estadística</strong> en el Instituto Politécnico Nacional
      en la Escuela Superior de Cómputo.
    </p>
    <ul role="list" class="link-card-grid">
      {cards.map((card) => <Card {...card} />)}
    </ul>
  </main>
</Layout>

<style>
  main {
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.2rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
