---

---

<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© <span id="copyright"></span> &bull; Casi todos los derechos reservados</span
    >
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
    >
      <li>
        <span class="me-4 md:me-6">4CM3</span>
      </li>
      <li>
        <span class="me-4 md:me-6">Campos Zeron Salvador</span>
      </li>
      <li>
        <span class="me-4 md:me-6">Probabilidad y Estadistica</span>
      </li>
      <li>
        <span class="me-4 md:me-6">ESCOM &bull; IPN</span>
      </li>
    </ul>
  </div>
</footer>

<script>
  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();
</script>
